font-size = 13
theme = light:Monokai Pro Light,dark:Nord
keybind = global:ctrl+grave_accent=toggle_quick_terminal

keybind = super+ctrl+arrow_up=resize_split:up,40
keybind = super+ctrl+arrow_down=resize_split:down,40
keybind = super+ctrl+arrow_left=resize_split:left,40
keybind = super+ctrl+arrow_right=resize_split:right,40
