@define-color background #060B1E;
@define-color foreground #e6b7f7;

* {
  font-family: JetBrainsMono;
  font-size: 18px;
  min-height: 0;
  color: @foreground;
}

window#waybar {
  background-color: transparent;
  color: @foreground;
}

#tray,
#custom-power,
#custom-reboot,
#custom-logout,
#language,
#cpu, 
#temperature, 
#memory,
#backlight,
#wireplumber, 
#disk,
#battery, 
#clock, 
#idle_inhibitor,
#taskbar,
#bluetooth,
#network {
	padding: 0 10px;
  background-color: @background;
  opacity: 0.7;
  min-width: 28px;
}

#taskbar, #idle_inhibitor {
  padding-right: 25px;
  border-radius: 0 0 20px 0;
}

#language, #clock {
  padding-left: 25px;
  border-radius: 0 0 0 20px;
}

